[production]
database.adapter = "mysqli"
database.protocol = "mysql"
database.params.host =  localhost
database.params.dbname = ""
database.params.username = ""
database.params.password = ""

[localhost : production]
database.params.host =  localhost
database.params.dbname = bookingbat
database.params.username = root
database.params.password = ""

[phpunit : production]
database.params.host =  localhost
database.params.dbname = bookingbat_phpunit
database.params.username = root
database.params.password = ""
